.container-fluid
  .row
    .col-md-12
      %h2 Welcome to Carnival Sample Application
      %p Carnival is an easy-to-use and extensible Rails Engine to speed up the development of data management interfaces.
      %p In this application you'll can view all of the potential Carnival Engine can give to you to create powerfull data application with a little bit of code, and with the full potential of already know Rails framework to go further with integrations and customizations, because you can easily customize and override Carnival features with standard Rails code so it's not necessary to learn a new syntax, framework or DSL.
      %p
        %a{href: "https://github.com/Vizir/carnival"}
          Fork Carnival on Github
        , 
        %a{href: "https://github.com/Vizir/carnival-sample-application"}
          Fork me on Github
  .row
    .col-md-12
      %h2 About the Sample Application
      %p We decided to implement a simple HRM (Human Resource Managemnet) application

